<h2 style="font-family:Garamond;">Extração, Transformação e Carregamento de dados (ETL)</h2>
<h3 style="font-family:Garamond;">Importação das bibliotecas</h3>
<p style="font-family: Anko ;">O primeiro passo em um processo de ETL é a extração dos dados, no presente projeto nossa base de dados é um arquivo CSV. Vamos começar importando a biblioteca Pandas para então analisar a base de dados.</p>

In [15]:
import pandas as pd
#indicar o caminho do arquivo (ONDE está localizado na máquina)
reg = "E:/Documents/PROJETO ALIMENTOS EM SQL/DADOS_ABERTOS_ALIMENTO.csv"
reg

'E:/Documents/PROJETO ALIMENTOS EM SQL/DADOS_ABERTOS_ALIMENTO.csv'

<p style="font-family:Anko;font-size:120%;">Agora vamos carregar o arquivo CSV</p>
<p style="font-family: Anko;">Note as adições feitas ao comando, para especificar a codificação de caracteres usada para ler o arquivo <i style="color:#85C1E9;">("encoding = 'iso-8859-1'" ou 'Latin-1')</i>; usamos <i style="color:#85C1E9;">("sep = ';'")</i> para definir o delimitador que separa os valores no arquivo como ponto e vírgula <b> (';')</b>; e o comando <i style="color:#85C1E9;">("on_bad_lines = 'skip'")</i> para ignorar linhas malformadas ou incompletas.

In [16]:
#O comando abaixo lê arquivos com extensão csv
data = pd.read_csv(reg, encoding = 'iso-8859-1', sep = ';', on_bad_lines = 'skip') #
data

,NU_CNPJ_EMPRESA,NO_RAZAO_SOCIAL_EMPRESA,NO_PRODUTO,NU_PROCESSO,DS_TIPO_PRODUTO,DS_CATEGORIA_PRODUTO,DT_FINALIZACAO_PROCESSO,NU_REGISTRO_PRODUTO,DT_VENCIMENTO_REGISTRO,ST_SITUACAO_REGISTRO
0,05501937000164,AMAZON ERVAS LABORATÓRIO BOTÂNICO LTDA,LICOPENO DE TOMATE COM VITAMINAS 'A' E 'E' EM ...,25009008347200207,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,07/15/2003 00:00:00,563450134,04/01/2007 00:00:00,Cancelado/Caduco
1,64088172000141,ATIVUS FARMACÊUTICA LTDA,LACTOBACILLUS ACIDOPHILUS EM SACHES,25004122926200216,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,01/29/2004 00:00:00,613700231,01/01/2014 00:00:00,Cancelado/Caduco
2,00413925000164,COLBRÁS INDÚSTRIA E COMÉRCIO LTDA,LICOPENO DE TOMATE EM CAPSULAS,25004050805200346,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,06/22/2004 00:00:00,508350027,06/01/2019 00:00:00,Cancelado/Caduco
3,68344878000188,ROBERG NUTRIGENOMICA LTDA,"LICOPENO SINTETICO COM VITAMINA ""E"" E ZINCO EM...",25004231575200314,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,08/30/2004 00:00:00,564840019,08/01/2014 00:00:00,Cancelado/Caduco
4,64088172000141,ATIVUS FARMACÊUTICA LTDA,LACTOBACILLUS ACIDOPHILUS EM SACHÊ,25004127882200432,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,03/02/2005 00:00:00,613700235,02/01/2015 00:00:00,Cancelado/Caduco
...,...,...,...,...,...,...,...,...,...,...
26312,00625722000484,ANGULO AGRO INDUSTRIAL LTDA,SAL GROSSO IODADO,2500400283992,ALIMENTO,CATEGORIA NAO CADASTRADA,09/06/1993 00:00:00,495390013,09/01/2003 00:00:00,Cancelado/Caduco
26313,04133906000135,ALIMENTICIO INTERNACIONAL DE CACAU SA - INTERC...,CHOCOLATE EM PO,2500400141392,ALIMENTO,CATEGORIA NAO CADASTRADA,03/17/1994 00:00:00,479310012,03/01/2004 00:00:00,Cancelado/Caduco
26314,05850086000165,RIOMAR CONSERVAS LTDA,MECTAR DE FRUTAS DA AMAZONIA,2501001163193,ALIMENTO,CATEGORIA NAO CADASTRADA,05/19/1994 00:00:00,403430032,05/01/2004 00:00:00,Cancelado/Caduco
26315,00321245000200,SKW BIOSYSTEMS DO BRASIL LTDA,MISTURA ANTIOXIDANTE PARA FINS ALIMENTICIOS,2500400251792,ALIMENTO,CATEGORIA NAO CADASTRADA,04/11/1994 00:00:00,495860091,04/01/2004 00:00:00,Cancelado/Caduco
26316,07201635000104,INDUSTRIA DE BEBIDAS E CONDIMENTOS LORD LTDA,TEMPERO COMPLETO,2501601275283,ALIMENTO,CATEGORIA NAO CADASTRADA,04/19/1994 00:00:00,445670022,01/01/2004 00:00:00,Cancelado/Caduco

In [17]:
#Entendendo o tipo de dados
data.dtypes

NU_CNPJ_EMPRESA            object
NO_RAZAO_SOCIAL_EMPRESA    object
NO_PRODUTO                 object
NU_PROCESSO                object
DS_TIPO_PRODUTO            object
DS_CATEGORIA_PRODUTO       object
DT_FINALIZACAO_PROCESSO    object
NU_REGISTRO_PRODUTO        object
DT_VENCIMENTO_REGISTRO     object
ST_SITUACAO_REGISTRO       object
dtype: object

<p style="font-family:Anko;"> O tipo <b style="color:#99A3A4;">'object'</b> em Pandas é um dado para colunas que contêm dados heterogêneos, como números, strings e outros.</p>
<p style="font-family:Anko;"> A seguir, para visualizar a quantidade de itens por coluna usaremos <b style="color:#F4D03F;">'len()'</b></p>

In [18]:
print ("TAMANHO DAS COLUNAS:\n")
for coluna in data.columns: 
    print(f'{coluna} - {len(data[coluna].unique())}')

TAMANHO DAS COLUNAS:

NU_CNPJ_EMPRESA - 4733
NO_RAZAO_SOCIAL_EMPRESA - 4671
NO_PRODUTO - 15722
NU_PROCESSO - 26181
DS_TIPO_PRODUTO - 4
DS_CATEGORIA_PRODUTO - 44
DT_FINALIZACAO_PROCESSO - 1657
NU_REGISTRO_PRODUTO - 26180
DT_VENCIMENTO_REGISTRO - 343
ST_SITUACAO_REGISTRO - 3

<h2 style="font-family:Garamond;">Transformação</h2>
<p style="font-family:Anko;"> Para cada coluna foi executado um comando <i style="color:#85C1E9">"data['Nome da coluna'].unique()"</i> para receber cada item presente. Na verificação da coluna <i style="color:#DC7633 ">'DS_TIPO_PRODUTO'</i> foram obtidos itens <i style="color:#E8DAEF;">NaN (Not a Number)</i>, e alguns dados que foram inseridos no banco de dados de forma equivocada.</p>

In [19]:
# Alguns dados podem ter sido inseridos incorretamente como verificado abaixo
len(data['DS_TIPO_PRODUTO'].unique())
data['DS_TIPO_PRODUTO'].unique()

array(['ALIMENTO', nan, '01/11/2002 00:00:00', '01/23/2002 00:00:00'],
      dtype=object)

<p style="font-family: Anko;"> Após a extração dos dados foi visto que alguns registros inseridos é "Not A Number", logo, ainda existem linhas com dados incorretos. </p>

In [20]:
data.dropna(inplace=True) #altera o objeto 'data' (ou seja, nesse caso, armazenou um novo dataframe com a exclusão dos NaN)
data
# Rodar a célula "TAMANHO DAS COLUNAS" novamente mostrará a correção (Das 26317 linhas iniciais restaram 23313)

,NU_CNPJ_EMPRESA,NO_RAZAO_SOCIAL_EMPRESA,NO_PRODUTO,NU_PROCESSO,DS_TIPO_PRODUTO,DS_CATEGORIA_PRODUTO,DT_FINALIZACAO_PROCESSO,NU_REGISTRO_PRODUTO,DT_VENCIMENTO_REGISTRO,ST_SITUACAO_REGISTRO
0,05501937000164,AMAZON ERVAS LABORATÓRIO BOTÂNICO LTDA,LICOPENO DE TOMATE COM VITAMINAS 'A' E 'E' EM ...,25009008347200207,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,07/15/2003 00:00:00,563450134,04/01/2007 00:00:00,Cancelado/Caduco
1,64088172000141,ATIVUS FARMACÊUTICA LTDA,LACTOBACILLUS ACIDOPHILUS EM SACHES,25004122926200216,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,01/29/2004 00:00:00,613700231,01/01/2014 00:00:00,Cancelado/Caduco
2,00413925000164,COLBRÁS INDÚSTRIA E COMÉRCIO LTDA,LICOPENO DE TOMATE EM CAPSULAS,25004050805200346,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,06/22/2004 00:00:00,508350027,06/01/2019 00:00:00,Cancelado/Caduco
3,68344878000188,ROBERG NUTRIGENOMICA LTDA,"LICOPENO SINTETICO COM VITAMINA ""E"" E ZINCO EM...",25004231575200314,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,08/30/2004 00:00:00,564840019,08/01/2014 00:00:00,Cancelado/Caduco
4,64088172000141,ATIVUS FARMACÊUTICA LTDA,LACTOBACILLUS ACIDOPHILUS EM SACHÊ,25004127882200432,ALIMENTO,SUBSTANCIAS BIOATIVAS E PROBIOTICOS ISOLADOS C...,03/02/2005 00:00:00,613700235,02/01/2015 00:00:00,Cancelado/Caduco
...,...,...,...,...,...,...,...,...,...,...
26312,00625722000484,ANGULO AGRO INDUSTRIAL LTDA,SAL GROSSO IODADO,2500400283992,ALIMENTO,CATEGORIA NAO CADASTRADA,09/06/1993 00:00:00,495390013,09/01/2003 00:00:00,Cancelado/Caduco
26313,04133906000135,ALIMENTICIO INTERNACIONAL DE CACAU SA - INTERC...,CHOCOLATE EM PO,2500400141392,ALIMENTO,CATEGORIA NAO CADASTRADA,03/17/1994 00:00:00,479310012,03/01/2004 00:00:00,Cancelado/Caduco
26314,05850086000165,RIOMAR CONSERVAS LTDA,MECTAR DE FRUTAS DA AMAZONIA,2501001163193,ALIMENTO,CATEGORIA NAO CADASTRADA,05/19/1994 00:00:00,403430032,05/01/2004 00:00:00,Cancelado/Caduco
26315,00321245000200,SKW BIOSYSTEMS DO BRASIL LTDA,MISTURA ANTIOXIDANTE PARA FINS ALIMENTICIOS,2500400251792,ALIMENTO,CATEGORIA NAO CADASTRADA,04/11/1994 00:00:00,495860091,04/01/2004 00:00:00,Cancelado/Caduco
26316,07201635000104,INDUSTRIA DE BEBIDAS E CONDIMENTOS LORD LTDA,TEMPERO COMPLETO,2501601275283,ALIMENTO,CATEGORIA NAO CADASTRADA,04/19/1994 00:00:00,445670022,01/01/2004 00:00:00,Cancelado/Caduco

<p style="font-family: Anko;"> Para planejar uma boa organização dos dados foi realizado uma listagem de todas as empresas por CNPJ cadastrado e em seguida uma extração da quantidade de CNPJs por razão social, assim, são muitos cadastros de diferentes CNPJ's por razão social. Essa extração nos ajudará a montar um diagrama de Entidade-Relacionamento. </p>

In [ ]:
#PARA IDENTIFICAR CNPJ POR RAZÃO SOCIAL e LISTAGEM DE TODAS AS EMPRESAS 
for item in data['NU_CNPJ_EMPRESA'].unique(): 
    print(f"{item} - {data.loc[data['NU_CNPJ_EMPRESA']== item, 'NO_RAZAO_SOCIAL_EMPRESA'].unique()} ")

In [22]:
#Contagem de CNPJs por Razão Social
for item in data['NO_RAZAO_SOCIAL_EMPRESA'].unique():
    if len(data.loc[data['NO_RAZAO_SOCIAL_EMPRESA']== item, 'NU_CNPJ_EMPRESA'].unique()) > 1:
        print(f"{item} - {len(data.loc[data['NO_RAZAO_SOCIAL_EMPRESA']== item, 'NU_CNPJ_EMPRESA'].unique())}")

LP FARMACÊUTICA LTDA ME - 2
OMNILIFE BRASIL COMERCIO DE PRODUTOS NUTRICIONAIS LTDA. - 2
UNILEVER BRASIL ALIMENTOS LTDA - 2
PEPSICO DO BRASIL LTDA - 2
EMS S/A - 2
INDAIA BRASIL AGUAS MINERAIS LTDA - 5
DANONE LTDA - 4
BIOLAB SANUS FARMACÊUTICA LTDA - 4
NORTE SALINEIRA S/A INDUSTRIA E COMERCIO - NORSAL - 2
AGUAS PRATA LTDA - 2
LITORAGUA AGUAS MINERAIS LTDA - 2
REFRESCOS GUARARAPES LTDA - 2
MINERADORA SAO LOURENCO DA SERRA LTDA ME - 2
PRODUTORA E EXPORTADORA DE MINERAIS E ALIMENTOS NOSSA SENHORA LTDA - ME - 2
NORSA REFRIGERANTES LTDA - 2
REFRIGERANTES DO OESTE SA - 2
AGUIAR BAYMA LTDA - 2
BUNGE ALIMENTOS S.A. - 2
KERRY DO BRASIL LTDA - 3
RHODIA BRASIL LTDA - 2
INGREDION BRASIL INGREDIENTES INDUSTRIAIS LTDA - 2
WALLERSTEIN INDUSTRIAL E COMERCIAL LTDA - 2
DOREMUS ALIMENTOS LTDA. - 2
PERDIGAO AGROINDUSTRIAL S/A - 2
MHS COMERCIO DE PRODUTOS NATURAIS LTDA - 2
BrasALPLA Pernambuco - Indústria de Embalagens Ltda - 2
HNK BR INDUSTRIA DE BEBIDAS LTDA - 2
CIMED INDUSTRIA S.A - 2
HYPERMARCAS S/A - 2
CIA FLUMINENSE DE REFRIGERANTES - 2
NUTRIACAO INDUSTRIA E COMERCIO LTDA - 2
EMPRESA DE AGUAS OURO FINO LTDA - 2
EMPRESA DE MINERAÇÃO NEVADA LTDA - 2
KRAFT FOODS BRASIL S/A - 2
AB BRASIL INDÚSTRIA E COMÉRCIO DE ALIMENTOS LTDA. - 2
PROLEV DO BRASIL LTDA - 2
SALSUL INDUSTRIA E COMERCIO LTDA - 2
REBICA INDUSTRIA E COMERCIO LTDA - 2
CADBURY ADAMS BRASIL INDUSTRIA E COMERCIO DE PRODUTOS ALIMENTICIOS LTDA - 2
JOSAPAR JOAQUIM OLIVEIRA SA PARTICIPAÇÕES - 2
CARGILL AGRICOLA SA - 2
MURTA ESPECIALIDADES QUÍMICAS LTDA - 2
VONPAR REFRESCOS S/A - 4
ARANHA INDUSTRIA E COMERCIO LTDA - 2
KANOA INDUSTRIAS ALIMENTICIAS LTDA - 2
PARISI AGROINDUSTRIAL LTDA - 2
COMPANHIA CERVEJARIA BRAHMA - 3
PHOSTHER ALGAMAR LTDA - 2
KRAFT LACTA SUCHARD BRASIL S/A - 2
BUSCHLE & LEPPER S/A - 2
GELO MINERAL INDUSTRIA E COMERCIO LTDA - 2

<p style="font-family:anko;"> Feita a transformação dos dados o próximo passo é o carregamento dos dados tratados no sistema de destino. No entanto, antes de carregar em um banco de dados SQL, é necessário visualizar a organização via Diagrama Entidade-Relacionamento (pode ser encontrado no memorial disponibilizado) </p>

<h2 style="font-family:Garamond;">Carregando os dados no MySQL Workbench</h2>

<p style="font-family:Anko;"> Primeiro vamos importar a biblioteca 'PyMySQL' para conectar ao banco de dados MySQL e assim inserir registros, atualizar e executar transações diretamente com o script em Python.</p>

In [23]:
import pymysql #importando biblioteca para conectar ao banco de dados MySQL

<p style="font-family:Anko;"> É importante criar as váriaveis com as quais iremos iniciar nosso banco de dados.</p>

In [ ]:
data_tipo_produto = data['DS_TIPO_PRODUTO'].unique()
print(data_tipo_produto)

data_categ = {1:list(data['DS_CATEGORIA_PRODUTO'].unique())}
print(data_categ)

<p style="font-family:Anko;"> Para conectar ao banco de dados precisamos fornecer as informações da database. O 'host' é o endereço do servidor onde o banco de dados está localizado, nesse projeto trabalhamos local, ou seja, na mesma máquina que o código. O 'user' é a identificação que autentica o servidor, 'root' é o usuário padrão. Em 'password' inserimos a senha do banco de dados. 'Database' é o nome do banco de dados que estamos nos conectando. Os parâmetros 'charset' e 'cursorclass' são usados para definir a codificação de caracteres da comunicação entre o script e o servidor MySQL, e para especificar o tipo de cursor utilizado para executar as consultas ao banco de dados, respectivamente. </p>

In [29]:
# Conectar a database
connection = pymysql.connect(host='localhost',
                             user='',
                             password='',
                             database='banco_alimentos_registro',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor) #retorna os dados como dicionário, em branco retorna tupla
with connection.cursor() as cursor:
        sql = "SELECT VERSION()"
        cursor.execute(sql)
        result = cursor.fetchone()
        print("Versão do MySQL:", result['VERSION()'])

Versão do MySQL: 8.4.1

<p style="font-family:Anko; color:#21618C;"> Os códigos de gravação no servidor foram comentados para evitar duplicatas e redundância. </p>

<p style="font-family:Anko;">Para criar adicionar uma gravação ao banco de dados vamos utilizar o comando <b>'INSERT INTO'</b>, então, adiconamos à tabela <i style="color:#F7DC6F">'tipo_de_produto'</i> o atributo <b>'DS_TIPO_PRODUTO'</b>, e definimos o valor (VALUES) como <b style="color:#5DADE2;">%s</b> para que os dados sejam substituidos na consulta pelo valor correspondente na tupla 'data_tipo_produto'. </p>

In [26]:

with connection:
    '''with connection.cursor() as cursor:
        # Criar nova gravação
        sql = "INSERT INTO `tipo_de_produto` (`DS_TIPO_PRODUTO`) VALUES (%s)"
        for item in data_tipo_produto: 
            cursor.execute(sql, (item))

    # Para finalizar a gravação e manter permanentemente as transações aplicadas ao banco de dados
    # utilizar o comando 'COMMIT'.
    connection.commit()'''

    with connection.cursor() as cursor:
        # Leitura da gravação
        sql = "SELECT * FROM tipo_de_produto"
        cursor.execute(sql, ())
        result = cursor.fetchone()
        print(result)

{'ID': 1, 'DS_TIPO_PRODUTO': 'ALIMENTO'}

<p style="font-family:Anko;"> A primeira tabela 'tipo_de_produto' foi criada. O ID pré-definido pelo script é 1, e podemos visualizar que na tabela o tipo de produto 'ALIMENTO' foi acrescentado. </p>

<p style="font-family:Garamond;color:lightpink;font-size:120%"><b>LEMBRETE: a cada nova gravação de tabela (Entidade) é necessário inserir comandos e criar as mesmas no SCHEMAS do MySQLWorkbench, é recomendado acompanhar ambos os scripts de maneira simultânea.</b></p>

<p style="font-family:Anko;"> Agora, a próxima tabela a relacionar é de 'categoria'. Novamente chamamos a conexão com o banco de dados e vamos definir o título e os atributos.</p>

In [27]:
'''
with connection:
    with connection.cursor() as cursor:
        sql = "INSERT INTO `categoria` (`ID_TIPO_PRODUTO`, `DS_CATEGORIA_PRODUTO`) VALUES (%s, %s)"
        for key,value in data_categ.items(): 
            for item in value:
                cursor.execute(sql, (key,item))
    connection.commit()
          '''

'\nwith connection:\n    with connection.cursor() as cursor:\n        sql = "INSERT INTO `categoria` (`ID_TIPO_PRODUTO`, `DS_CATEGORIA_PRODUTO`) VALUES (%s, %s)"\n        for key,value in data_categ.items(): \n            for item in value:\n                cursor.execute(sql, (key,item))\n    connection.commit()\n          '

In [30]:
with connection:
    with connection.cursor() as cursor:
        sql = "SELECT * FROM categoria"
        cursor.execute(sql, ())
        categorias_por_id = cursor.fetchall()

<p style="font-family:Anko;">Para criar a tabela de produtos vamos recuperar todas as linhas já executadas com 'cursor.fetchall()' e processar os dados junto a nova gravação da tabela de produtos. </p>

In [ ]:
produtos = {}
for item in categorias_por_id:
    produtos[item['ID']] = list(data.loc[data['DS_CATEGORIA_PRODUTO'] == item['DS_CATEGORIA_PRODUTO'], 'NO_PRODUTO'].unique())
print(produtos)

In [47]:
'''with connection: #conexão com o mySQL
    with connection.cursor() as cursor: #usando cursor para rodar SQL como texto
        sql = "INSERT INTO `produto` (`ID_CATEGORIA`, `NO_PRODUTO`) VALUES (%s,%s)" #declarando o comando de inserção de dados no SQL
        for key,value in produtos.items(): #acessando items dentro do dicionário 'produtos'
            for produto in value: #acessar prod por prod na lista
                cursor.execute(sql, (key,produto))
    connection.commit()'''

<p style="font-family:Anko;"> A tabela empresas também é relacionada a tabela de registros, então devemos criar uma gravação dos dados referentes a essa tabela também. </p>

In [57]:
empresas = {}
for razaosocial in data['NO_RAZAO_SOCIAL_EMPRESA'].unique():
    for cnpj in data.loc[data['NO_RAZAO_SOCIAL_EMPRESA'] == razaosocial,'NU_CNPJ_EMPRESA']:
        empresas[cnpj] = razaosocial

In [58]:
'''with connection: #conexão com o mySQL
    with connection.cursor() as cursor: #usando cursor para rodar SQL como texto
        sql = "INSERT INTO `empresa` (`CNPJ`, `RAZAO_SOCIAL`) VALUES (%s,%s)" #declarando o comando de inserção de dados no SQL
        for key,value in empresas.items(): #acessando items dentro do dicionário 'produtos'
            cursor.execute(sql, (key,value))
    connection.commit()'''

<p style="font-family:Anko;"> Para a última e mais importante tabela 'registro' devemos recuperar todas as linhas resultantes das gravações anteriores que se relacionam a entidade 'registro' e direcioná-las à nova tabela.</p>

In [64]:
with connection:
    with connection.cursor() as cursor:
        sql = "SELECT * FROM empresa"
        cursor.execute(sql, ())
        empresas = pd.DataFrame(cursor.fetchall())
empresas

        ID            CNPJ                                       RAZAO_SOCIAL
0        1  05501937000164             AMAZON ERVAS LABORATÓRIO BOTÂNICO LTDA
1        2  64088172000141                           ATIVUS FARMACÊUTICA LTDA
2        3  00413925000164                  COLBRÁS INDÚSTRIA E COMÉRCIO LTDA
3        4  68344878000188                          ROBERG NUTRIGENOMICA LTDA
4        5  02567922000100     SUPLAN LABORATORIO DE SUPLEM. ALIMENTARES LTDA
...    ...             ...                                                ...
4725  4726  55323216000180          BEBIDAS WILSON INDUSTRIA E COMERCIO LTDA.
4726  4727  83069682000116        INDUSTRIA E COMERCIO DE ALIMENTOS BO-K LTDA
4727  4728  00804351000155           MONTRIGAL PANIFICADORA E LANCHONETE LTDA
4728  4729  01929413000118                          WILSON BARATELLA BAENA ME
4729  4730  04133906000135  ALIMENTICIO INTERNACIONAL DE CACAU SA - INTERC...

[4730 rows x 3 columns]

In [67]:
with connection:
    with connection.cursor() as cursor:
        sql = "SELECT * FROM produto"
        cursor.execute(sql, ())
        produtos = pd.DataFrame(cursor.fetchall())
produtos

          ID  ID_CATEGORIA                                         NO_PRODUTO
0          1             1  LICOPENO DE TOMATE COM VITAMINAS 'A' E 'E' EM ...
1          2             1                LACTOBACILLUS ACIDOPHILUS EM SACHES
2          3             1                     LICOPENO DE TOMATE EM CAPSULAS
3          4             1  LICOPENO SINTETICO COM VITAMINA "E" E ZINCO EM...
4          5             1                 LACTOBACILLUS ACIDOPHILUS EM SACHÊ
...      ...           ...                                                ...
16124  16125            40                                   ADOÇANTE DE MESA
16125  16126            40                             ADOÇANTE DE MESA EM PO
16126  16127            40                         ADOÇANTE DIETETICO LIQUIDO
16127  16128            41  ALIMENTO A BASE DE GRAO PARA IDOSO ENRIQUECIDO...
16128  16129            41  ALIMENTO A BASE DE GRAOS PARA IDOSO ENRIQUECID...

[16129 rows x 3 columns]

<p style="font-family:Anko;"> Tendo criado as nivas variáveis podemos utilizá-las para criar a tabela 'registro'. </p>

In [85]:
data_to_insert = []
for registro in data.to_dict(orient = "records"):
    produto_correspondente = str(produtos.loc[produtos['NO_PRODUTO'] == registro['NO_PRODUTO'], 'ID'].values[0])
    empresa_correspondente = str(empresas.loc[empresas['CNPJ'] == registro['NU_CNPJ_EMPRESA'], 'ID'].values[0])
    temp_data = [produto_correspondente, empresa_correspondente, registro['NU_REGISTRO_PRODUTO'], registro['NU_PROCESSO'], registro['DT_FINALIZACAO_PROCESSO'], registro['DT_VENCIMENTO_REGISTRO'], registro['ST_SITUACAO_REGISTRO']]
    data_to_insert.append(temp_data)

<p style="font-family:Anko;"> Inserção de dados da entidade 'registro' </p>

In [88]:
'''with connection: #conexão com o mySQL
    with connection.cursor() as cursor: #usando cursor para rodar SQL como texto
        sql = "INSERT INTO `registro` (`ID_PRODUTO`,`ID_EMPRESA`,`NU_REGISTRO`,`NU_PROCESSO`,`DT_FINALIZACAO`,`DT_VENCIMENTO`,`STATUS`) VALUES (%s,%s,%s,%s,%s,%s,%s)" #declarando o comando de inserção de dados no SQL
        for item in data_to_insert: #acessando items dentro do dicionário 'produtos'
            cursor.execute(sql, (item[0],item[1],item[2],item[3],item[4],item[5],item[6],))
    connection.commit()'''

<p style="font-family:Anko;">Pronto, a extração, transformação e carregamento dos dados foi feita e o banco de dados csv foi transferido para o MySQL com sucesso.</p>

<h4 style="font-family:Garamond;">Considerações finais</h4>
<p style="font-family:Anko;color:#196F3D">A qualidade dos dados é um fator crítico para qualquer sistema de dados, e crucial para um bom processo ETL, apesar de consistentes alguns dados estiveram ausentes ou ocorreu um preenchimento equivoco, além de encontrarmos após o caregamento e organização das novas tabelas no MySQL acentuações e discordância strings (razão social e categoria). O projeto mostra a utilidade e eficiência do uso de um banco de dados em SQL. Ao criar uma base de dados no MySQL os tipos de categorias, de produtos e a padronização do cadastro de razões sociais e CNPJS, bem como a autenticação da validade dos registros, poderiam ser realizadas de maneira mais uniforme e padronizada. </p>